<p-toast></p-toast>

<div class="text-center container" id="createUserContainer">
    <div class="boxShadow">

        <h4>Create User</h4>
        <br>
        <hr>
        <br>
        <form #userForm="ngForm" (ngSubmit)="createUserSubmit(userForm.value)">
            <div class="row form-group ">
                <div class="col-2"></div>
                <div class="col-8  mb-3 ">
                    <input #uName="ngModel" required minlength="2" type="text" name="UserName" class="form-control"
                        placeholder="Username" ngModel>
                    <small *ngIf="uName.touched && uName.invalid" class="text-danger ">Invalid Username</small>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row form-group">
                <div class="col-2"></div>
                <div class="col-8">
                    <input #pWord="ngModel" required minlength="8" type="password" name="Password"
                        class="form-control mb-3" placeholder="password" ngModel />
                    <div *ngIf="pWord.touched && pWord.invalid" class="text-danger">
                        <p *ngIf="pWord.errors?.['required']">Invalid password</p>
                        <p *ngIf="pWord.errors?.['minlength']">Minimum length is 8 characters</p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row form-group">
                <div class="col-2"></div>
                <div class="col-8" *ngIf="products$ | async as products">
                    <select class="p-dropdown form-select" name="ProductId" ngModel>
                        <option value="" disabled selected>Select your product</option>
                        @for (product of products; track $index) {

                        <option [value]="product.id">{{ product.name}}
                        </option>
                        }
                    </select>
                </div>
                <div class="col-2"></div>
            </div>
            
            <div class="row mt-3 ">
                <div class="col-5"></div>
                <div class="col-1">
                    <label class="form-check-label" for="isAdminCB">Admin</label>
                </div>
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" id="isAdminCB" name="isAdmin" ngModel>
                </div>
                <div class="col-5"></div>
            </div>

            <div class="row mt-5">
                <div class="col-2"></div>
                <div class="col-1"></div>
                <button type="button" class="btn btn-danger col-3" (click)="Cancel()">Cancel</button>
                <button type="submit" class="btn btn-success col-3">Create</button>
                <div class="col-1"></div>
                <div class="col-2"></div>
            </div>
        </form>

    </div>
</div>