<p-toast></p-toast>
<div class="bodyColor">

  <div class="signin-content text-center container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
      <div class="boxShadow">
        <img src="assets/Images/Logo.png" class="logoImg" alt="Image">
        <br>
        <input placeholder="Username" class="UPInput" required name="UserName" ngModel>
        <br /><br />
        <input type="password" placeholder="Password" class="UPInput" required name="Password" ngModel>
        <br /><br />
        <p-button severity="secondary" type="submit">Login</p-button>
      </div>
    </form>
  </div>
</div>