<p-confirmDialog></p-confirmDialog> 

<app-navbar componentTitle="Log Overview" [user]="user"></app-navbar>
<ng-container *ngIf="lightLogs$ | async as entities"
  ><p-table
    [value]="entities"
    [rows]="15"
    [paginator]="true"
    [(selection)]="selectedLightLogs"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
  <ng-template pTemplate="header">
    <tr>
        <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedLightLogs()" [disabled]="!selectedLightLogs || !selectedLightLogs.length"></button>
        </th>
        <th style="width:10rem">productId</th>
        <th style="width: 0.5rem">Hours</th>
        <th style="width: 0.5rem">Minutes</th>
        <th style="width: 10rem">Seconds</th>
        <th pSortableColumn="dateSent" style="width:50rem">
          Date
          <p-sortIcon field="dateSent" (sort)="onSort($event)"></p-sortIcon>
        </th>
        <th></th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-entity>
  <tr>
    <td>
      <p-tableCheckbox [value]="entity"></p-tableCheckbox>
    </td>
    <td style="width: 2rem;"></td>
    <td>{{ entity.productId }}</td>
    <td>{{ entity.hours }}</td>
    <td>{{ entity.minutes }}</td>
    <td>{{ entity.seconds }}</td>
    <td>{{ entity.dateSent }}</td>
    <td>
      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteLightLog(entity)"></button>
    </td>
  </tr>
</ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">In total there are {{ entities ? entities.length : 0 }} entities.</div>
    </ng-template>
  </p-table></ng-container>