<div class="card">
    <p-menubar>
        <ng-template pTemplate="start">
            <div id="navbarstart">
                <div class="flexcenter">
                    <img src="../../../../assets/Images/Logo.png" height="100" class="logo" />
                    <h2 id="title">{{componentTitle}}</h2>
                </div>
            </div>
        </ng-template>
        
        
        <ng-template pTemplate="end" >
            <div class="flexcenter">
                <h5 id="username">Hello {{user.userName}}!</h5>
                <button pButton pRipple label="Log out" class="p-button-danger" (click)="Logout()"></button>
            </div>
        </ng-template>
    </p-menubar>
</div>
