.card{
margin-bottom: 50px;
}

#navbarstart{
    display: flex;
    flex-direction: row;
}

.flexcenter{
    display: flex;
    align-items: center;
}

.logo{
    border-radius: 50%;
}

#title{
    margin-left: 20px;
}

#username{
    margin-right: 20px;
}

